/*colors
light purple #985F99
orangish gold #E6AF2E
*/
html{
    font-size: larger;
}
body{
    width: 100%;
    margin: 0px;
    background-color: #4A1942;
    background-image: url("https://www.transparenttextures.com/patterns/green-gobbler.png");
    color: #EAEAEA;
}

header{
    background-color: #FCFCFC;
}
header h1{
    text-align:center;
    margin: 0px;
    color: #2EC4B6;
}
header h3{
    text-align: center;
    margin: 0px;
    color: #2EC4B6; 
}
header ul{
    text-align: center;
    display: flex;
    justify-content: space-around;
}
.nav-item{
    list-style-type: none;
    display: inline-block;
    width: 60px;
}

main{
    margin: 1%;
    min-height:100vh;
}
.motto-block{
    background-color: #F0D87D;
    text-align: center;
}

footer{
     background-color: #FCFCFC;
     border-top:solid 3px black;
     padding:5%; 
}

footer ul{
  list-style-type: none; 
  display: flex;
  align-items:flex-end;
  justify-content:space-around;
  width:100%;
  
}

a:link{
    text-decoration: none;
    color: #2EC4B6;
}

.fa-snapchat:hover{
    opacity: 0.7;
    color:purple;
}
.fa-snapchat{
    text-decoration:none;
    color: yellow;
}
.fa-facebook:hover{
    opacity: 0.7;
    color:red;
}
.fa-facebook{
    text-decoration:none;
    color:blue;
}
.fa-instagram:hover{
    opacity: 0.7;
    color:orange;
}
.fa-instagram{
    text-decoration:none;
    color:Maroon;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
/*for side scrolling*/