.left-side {
  background-color: #7A5980;
  font-family: Lobster;
  border: solid 6px #23F0C7;
  color: #23F0C7;
  text-align: left;
  border-style: solid;
  width: 25%;
  position: absolute;
  left: 0%;
  top: 27%;
}

.center {
  background-color: #7A5980;
  font-family: Lobster;
  border: solid 6px #23F0C7;
  color: #23F0C7;
  text-align: left;
  border-style: solid;
  width: 25%;
  position: absolute;
  left: 32%;
  top: 27%;
}

.right-side {
    background-color: #7A5980;
    font-family: Lobster;
    border: solid 6px #23F0C7;
    color: #23F0C7;
    text-align: left;
    border-style: solid;
    width: 25%;
    position: absolute;
    right: 0%;
    top: 27%;
}

.navbar {
  background-color: #9AC4F8;
  font-family: 'Galada', cursive;
  border: solid 6px #FFA07A;
  color: #FFA07A;
  width: 100%;
  position: absolute;
  display: flex;
  flex-direction: row;
  text-align: center;
  left: 0%;
}

.nav item {
    
}

footer {
    
}

body {
    
}

ul {
   list-style-type: none; 
}

nav {
    
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}