body{
    width: 100%;
    margin: 0px;
    background-color: #331832;
    background-image: url("https://www.transparenttextures.com/patterns/green-gobbler.png");
}

header{
    background-color: #FFF7F7;
}
header h1{
    text-align:center;
    margin: 0px;
    color: #527C75;
}
header h3{
    text-align: center;
    margin: 0px;
    color: #F6E8EA;0 
}
.nav-item{
    list-style-type: none;
    display: inline-block;
    background-color: #527C75;
    margin-right: 10px;
    padding: 3px 10px;
    border-radius: 5px 5px 0px 0px;
}

main{
    margin: 1%;
    min-height:100vh;
}

footer{
     background-color: tomato;
     border-top:solid 3px black;
     padding:5%; 
}
footer ul{
  list-style-type: none; 
  display: flex;
  align-items:flex-end;
  justify-content:space-around;
  width:100%;
  
}

a:link{
    text-decoration: none;
    color: #F6E8EA;
}

.fa-snapchat{
    text-decoration:none;
    color: yellow;
}
.fa-snapchat:hover{
    opacity: 0.7;
    color:purple;
}
.fa-facebook{
    text-decoration:none;
    color:blue;
}
.fa-facebook:hover{
    opacity: 0.7;
    color:red;
}
.fa-instagram{
    text-decoration:none;
    color:Maroon;
}
.fa-instagram:hover{
    opacity: 0.7;
    color:orange;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
/*for side scrolling*/