
@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    width: 100%;
    margin: 0px;
    background-color: #D8DBE2;
}

header{
    background-color: #5c4226;
    background-image: url("https://www.transparenttextures.com/patterns/dark-wood.png");

}
header h1{
    text-align:center;
    margin: 0px;

    color: #B5CA8D;

    color: #527C75;

}
header h3{
    text-align: center;
    margin: 0px;

    color: #B5CA8D;
}


nav ul {
  list-style-type: none;
  font-size: 1.5em;
  margin-top: 0px;
  padding: 10px;
  display: flex;
  justify-content: space-evenly;
  /*flex-wrap: wrap;*/
}
nav a{
  text-decoration: none;
  color: white;
}
.icon{
  display: none;
}
@media screen and (max-width:700px){
  ul.nav li:not(:first-child){
    display: none;
  }
  ul.nav{
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  ul.nav li.icon{
    display: block;
    position: absolute;
    top:70px;
  }
  ul.nav.responsive li{
    display: block;
  }
  header{
    height: 200px;
  }

header ul{
    display: flex;
    justify-content: space-around;
}

.nav-item{
    list-style-type: none;
    display: inline-block;
    background-color: #527C75;
 
    text-align: center;
    margin-right: 10px;
    padding: 3px 10px;
    border-radius: 5px 5px 0px 0px;


}}

main{
    margin: 1%;
    min-height:100vh;
}
.motto-block{
    text-align: center;
    font-family: Roboto;
}

footer {
    background-color:tomato;
    border-top: solid 3px black;
    /*display: flex;*/
    /*align-items: flex-end;*/
/*}*/
/*footer {*/
  list-style-type: none; 
  display: flex;
  align-items:flex-end;
  justify-content:space-around;
  width:100%;
  text-align: center;
   position:relative;
    
}
    



a:link{
    text-decoration: none;
    color: #F6E8EA;
}

.fa-snapchat{
    text-decoration:none;
    color: yellow;
}
.fa-snapchat:hover{
    opacity: 0.7;
    color:purple;
}
.fa-facebook{
    text-decoration:none;
    color:blue;
}
.fa-facebook:hover{
    opacity: 0.7;
    color:red;
}
.fa-instagram{
    text-decoration:none;
    color:Maroon;
}
.fa-instagram:hover{
    opacity: 0.7;
    color:orange;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
for side scrolling

ul {
    list-style-type: none;
    color: #3B3B58;
}

.h3 {
   color: #BB7E5D; 
}

p {
    color: #3B3B58;
}

.ul {
    list-style-type: disc;
    color: #3B3B58;
}

.h1 {
    color: #527C75;
}

.footer-items {
    align-content: center;
    justify-content: space-around;
}

.paulp{
    float:left;
    width: 40%;
    }

}