.left-side {
    background-color: #7A5980;
  font-family: Lobster;
  border: solid 6px #23F0C7;
  top: 20%;
  color: #23F0C7;
  text-align: center;
  border-style: solid;
  width: 25%;
}

.center {
    
}

.right side {
    
}

.navbar {
    
}

.nav item {
    
}

footer {
    
}

body {
    
}

ul {
   list-style-type: none; 
}

nav {
    
}